
// COLOR PALETTE
$clr1: #d1bdbd;
$clr3: #348f92;
$clr2: #FFF4F4;
$clr4: #bcd2d3;
$clr5: #574142;
$clr6: #fbfbfb;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


