.container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $clr5;
}

.toy-app {
    display: flex;
    flex-direction: column;
}

.type-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.toy-list {
    background-color: $clr6; 
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgb(175, 175, 175);
    border-top: 1px solid rgb(175, 175, 175);
}

.toy-list li {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: $clr4;
    justify-content: space-between;
    margin: 0.5rem;
    width: rem(200px);
    height: rem(200px);
    border-radius: 1rem;
    padding: rem(20px);
}

.button-container{
    display: flex;
    justify-content: space-evenly;    
    button, a, img{
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        width: 20px;
        cursor: pointer;
        vertical-align: middle;
    }
}

.toy-edit-form > * {
    margin-bottom: 0.5rem;
}
.toy-edit-input {
    width: 40% !important;
    margin: 0 0.5rem 0.5rem 0;
}

.toy-edit-form {
    background-color: #e0d5d5;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
}